name: main

on:
  push:
    branches:
      - master
    ignore-tags:
      - 'v*'
  pull_request:

jobs:
  pipeline:
    name: pipeline
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v1
      - name: Set up Golang
        uses: actions/setup-go@v1
        with:
          go-version: '1.16.x'
      - name: Run Tests
        run: go test -race -coverprofile=coverage.txt -covermode=atomic
        env:
          TEST_DB_URL: postgres://postgres:postgres@postgres:${{ job.services.postgres.ports[5432] }}/postgres?sslmode=disable
      - name: Upload tests coverage to codeconv.io
        uses: codecov/codecov-action@v1
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
