name: pipeline
on:
  push:
    branches:
      - master
  pull_request:

jobs:
  pipeline:
    name: test
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v1
      - name: Set up golang
        uses: actions/setup-go@v1
        with:
          go-version: '1.13.x'
      - name: Run tests
        run: go test -race -coverprofile=coverage.txt -covermode=atomic ./...
      - name: Upload tests coverage to codeconv.io
        uses: codecov/codecov-action@v1
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
